<?xml version="1.0"?>
<!-- references
http://gazebosim.org/tutorials?tut=ros_depth_camera&cat=connect_ros
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="depth_camera" params="name parent_link *origin update_rate:=5 min_range:=0.05 max_range:=3.0 field_of_view:=1.3671">
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent_link}"/>
      <child link="${namespace}/${name}_link"/>
    </joint>

    <link name="${namespace}/${name}_link">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.000000017" ixy="0" ixz="0" iyy="0.000000017" iyz="0" izz="0.000000017" />
      </inertial>
      <visual>
        <!--
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="model://kinect/meshes/kinect.dae" />
        </geometry>
        -->
        <origin xyz="-0.033000 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.067000 0.276000 0.036000" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.033000 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.067000 0.276000 0.036000" />
        </geometry>
      </collision>
    </link>

    <gazebo reference="${namespace}/${name}_link">
      <sensor name="camera" type="depth">
        <update_rate>${update_rate}</update_rate>
        <camera>
          <horizontal_fov>${field_of_view}</horizontal_fov>
          <image>
            <width>752</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>${min_range}</near>
            <far>${max_range}</far>
          </clip>
        </camera>

        <plugin name="camera_plugin" filename="libgazebo_ros_openni_kinect.so">
          <baseline>0.2</baseline>
          <alwaysOn>true</alwaysOn>
          <!-- Keep this zero, update_rate in the parent <sensor> tag
            will control the frame rate. -->
          <updateRate>0.0</updateRate>
          <cameraName>${name}_ir</cameraName>
          <imageTopicName>${name}/depth/image_raw</imageTopicName>
          <cameraInfoTopicName>${name}/depth/camera_info</cameraInfoTopicName>
          <depthImageTopicName>${name}/depth/image_depth</depthImageTopicName>
          <depthImageInfoTopicName>${name}/depth/camera_info</depthImageInfoTopicName>
          <pointCloudTopicName>${name}/depth/points</pointCloudTopicName>
          <frameName>${name}_link</frameName>
          <pointCloudCutoff>0.05</pointCloudCutoff>
          <pointCloudCutoffMax>${max_range}</pointCloudCutoffMax>
          <distortionK1>0</distortionK1>
          <distortionK2>0</distortionK2>
          <distortionK3>0</distortionK3>
          <distortionT1>0</distortionT1>
          <distortionT2>0</distortionT2>
          <CxPrime>0</CxPrime>
          <Cx>0</Cx>
          <Cy>0</Cy>
          <focalLength>0</focalLength>
          <hackBaseline>0</hackBaseline>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
